[submodule "shared/src/sdks/externals/libConfigPortable"]
	path = shared/src/sdks/externals/libConfigPortable
	url = https://github.com/D0ct0rDave/libconfigPortable.git
[submodule "shared/src/sdks/externals/FreeImage"]
	path = shared/src/sdks/externals/FreeImage
	url = https://github.com/D0ct0rDave/FreeImage.git
[submodule "shared/src/sdks/externals/OpenGL"]
	path = shared/src/sdks/externals/OpenGL
	url = https://github.com/D0ct0rDave/OpenGL.git
[submodule "shared/src/sdks/externals/wxWidgets2.8"]
	path = shared/src/sdks/externals/wxWidgets2.8
	url = https://github.com/D0ct0rDave/wxWidgets.git
	branch = WX_2_8_BRANCH
[submodule "shared/src/sdks/externals/physfs"]
	path = shared/src/sdks/externals/physfs
	url = https://github.com/D0ct0rDave/physfs
	branch = stable-2.0
[submodule "shared/src/sdks/externals/OpenAL-1.1-SDK"]
	path = shared/src/sdks/externals/OpenAL-1.1-SDK
	url = https://github.com/D0ct0rDave/OpenAL-1.1-SDK.git
[submodule "shared/src/sdks/externals/OpenAL_1.1_SDK"]
	path = shared/src/sdks/externals/OpenAL_1.1_SDK
	url = https://github.com/D0ct0rDave/OpenAL_1.1_SDK.git
[submodule "shared/src/sdks/externals/freealut"]
	path = shared/src/sdks/externals/freealut
	url = https://github.com/D0ct0rDave/freealut.git
