[submodule "shared/src/sdks/externals/libConfigPortable"]
	path = shared/src/sdks/externals/libConfigPortable
	url = https://github.com/D0ct0rDave/libconfigPortable.git
[submodule "shared/src/sdks/externals/FreeImage"]
	path = shared/src/sdks/externals/FreeImage
	url = https://github.com/D0ct0rDave/FreeImage.git
[submodule "shared/src/sdks/externals/OpenGL"]
	path = shared/src/sdks/externals/OpenGL
	url = https://github.com/D0ct0rDave/OpenGL.git
[submodule "shared/src/sdks/externals/wxWidgets2.8"]
	path = shared/src/sdks/externals/wxWidgets2.8
	url = https://github.com/D0ct0rDave/wxWidgets.git
	branch = WX_2_8_BRANCH
[submodule "shared/src/sdks/externals/physfs"]
	path = shared/src/sdks/externals/physfs
	url = https://github.com/D0ct0rDave/physfs
	branch = stable-2.0
